
// APUF 0

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[0].SW/SW" LOC = SLICE_X10Y2; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[0].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[1].SW/SW" LOC = SLICE_X10Y2; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[1].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[2].SW/SW" LOC = SLICE_X10Y2; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[2].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[3].SW/SW" LOC = SLICE_X10Y2; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[3].SW/SW" BEL = D6LUT; 

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[4].SW/SW" LOC = SLICE_X10Y3; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[4].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[5].SW/SW" LOC = SLICE_X10Y3; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[5].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[6].SW/SW" LOC = SLICE_X10Y3; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[6].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[7].SW/SW" LOC = SLICE_X10Y3; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[7].SW/SW" BEL = D6LUT; 

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[8].SW/SW" LOC = SLICE_X10Y4; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[8].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[9].SW/SW" LOC = SLICE_X10Y4; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[9].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[10].SW/SW" LOC = SLICE_X10Y4; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[10].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[11].SW/SW" LOC = SLICE_X10Y4; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[11].SW/SW" BEL = D6LUT; 

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[12].SW/SW" LOC = SLICE_X10Y5; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[12].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[13].SW/SW" LOC = SLICE_X10Y5; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[13].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[14].SW/SW" LOC = SLICE_X10Y5; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[14].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[15].SW/SW" LOC = SLICE_X10Y5; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[15].SW/SW" BEL = D6LUT; 

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[16].SW/SW" LOC = SLICE_X10Y6; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[16].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[17].SW/SW" LOC = SLICE_X10Y6; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[17].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[18].SW/SW" LOC = SLICE_X10Y6; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[18].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[19].SW/SW" LOC = SLICE_X10Y6; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[19].SW/SW" BEL = D6LUT; 

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[20].SW/SW" LOC = SLICE_X10Y7; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[20].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[21].SW/SW" LOC = SLICE_X10Y7; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[21].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[22].SW/SW" LOC = SLICE_X10Y7; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[22].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[23].SW/SW" LOC = SLICE_X10Y7; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[23].SW/SW" BEL = D6LUT; 

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[24].SW/SW" LOC = SLICE_X10Y8; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[24].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[25].SW/SW" LOC = SLICE_X10Y8; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[25].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[26].SW/SW" LOC = SLICE_X10Y8; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[26].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[27].SW/SW" LOC = SLICE_X10Y8; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[27].SW/SW" BEL = D6LUT; 

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[28].SW/SW" LOC = SLICE_X10Y9; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[28].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[29].SW/SW" LOC = SLICE_X10Y9; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[29].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[30].SW/SW" LOC = SLICE_X10Y9; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[30].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[31].SW/SW" LOC = SLICE_X10Y9; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[31].SW/SW" BEL = D6LUT; 

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[32].SW/SW" LOC = SLICE_X10Y10; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[32].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[33].SW/SW" LOC = SLICE_X10Y10; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[33].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[34].SW/SW" LOC = SLICE_X10Y10; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[34].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[35].SW/SW" LOC = SLICE_X10Y10; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[35].SW/SW" BEL = D6LUT; 

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[36].SW/SW" LOC = SLICE_X10Y11; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[36].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[37].SW/SW" LOC = SLICE_X10Y11; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[37].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[38].SW/SW" LOC = SLICE_X10Y11; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[38].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[39].SW/SW" LOC = SLICE_X10Y11; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[39].SW/SW" BEL = D6LUT; 

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[40].SW/SW" LOC = SLICE_X10Y12; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[40].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[41].SW/SW" LOC = SLICE_X10Y12; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[41].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[42].SW/SW" LOC = SLICE_X10Y12; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[42].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[43].SW/SW" LOC = SLICE_X10Y12; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[43].SW/SW" BEL = D6LUT; 

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[44].SW/SW" LOC = SLICE_X10Y13; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[44].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[45].SW/SW" LOC = SLICE_X10Y13; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[45].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[46].SW/SW" LOC = SLICE_X10Y13; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[46].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[47].SW/SW" LOC = SLICE_X10Y13; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[47].SW/SW" BEL = D6LUT; 

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[48].SW/SW" LOC = SLICE_X10Y14; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[48].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[49].SW/SW" LOC = SLICE_X10Y14; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[49].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[50].SW/SW" LOC = SLICE_X10Y14; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[50].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[51].SW/SW" LOC = SLICE_X10Y14; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[51].SW/SW" BEL = D6LUT; 

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[52].SW/SW" LOC = SLICE_X10Y15; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[52].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[53].SW/SW" LOC = SLICE_X10Y15; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[53].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[54].SW/SW" LOC = SLICE_X10Y15; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[54].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[55].SW/SW" LOC = SLICE_X10Y15; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[55].SW/SW" BEL = D6LUT; 

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[56].SW/SW" LOC = SLICE_X10Y16; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[56].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[57].SW/SW" LOC = SLICE_X10Y16; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[57].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[58].SW/SW" LOC = SLICE_X10Y16; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[58].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[59].SW/SW" LOC = SLICE_X10Y16; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[59].SW/SW" BEL = D6LUT; 

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[60].SW/SW" LOC = SLICE_X10Y17; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[60].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[61].SW/SW" LOC = SLICE_X10Y17; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[61].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[62].SW/SW" LOC = SLICE_X10Y17; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[62].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[63].SW/SW" LOC = SLICE_X10Y17; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[63].SW/SW" BEL = D6LUT; 

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/tigReg" BEL = AFF;
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/tigReg" LOC = SLICE_X10Y1;

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/tigSignal_inv1_INV_0" BEL = B6LUT;
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/tigSignal_inv1_INV_0" LOC = SLICE_X10Y1;

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/ARBITER/X" LOC = SLICE_X10Y18; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/ARBITER/X" BEL = A6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/ARBITER/Y" LOC = SLICE_X10Y18; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/ARBITER/Y" BEL = B6LUT; 

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/respReady1" BEL = D6LUT;
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/respReady1" LOC = SLICE_X11Y18;


// APUF 1

INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[0].SW/SW" LOC = SLICE_X34Y2; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[0].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[1].SW/SW" LOC = SLICE_X34Y2; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[1].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[2].SW/SW" LOC = SLICE_X34Y3; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[2].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[3].SW/SW" LOC = SLICE_X34Y3; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[3].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[4].SW/SW" LOC = SLICE_X34Y4; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[4].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[5].SW/SW" LOC = SLICE_X34Y4; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[5].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[6].SW/SW" LOC = SLICE_X34Y5; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[6].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[7].SW/SW" LOC = SLICE_X34Y5; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[7].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[8].SW/SW" LOC = SLICE_X34Y6; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[8].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[9].SW/SW" LOC = SLICE_X34Y6; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[9].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[10].SW/SW" LOC = SLICE_X34Y7; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[10].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[11].SW/SW" LOC = SLICE_X34Y7; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[11].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[12].SW/SW" LOC = SLICE_X34Y8; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[12].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[13].SW/SW" LOC = SLICE_X34Y8; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[13].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[14].SW/SW" LOC = SLICE_X34Y9; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[14].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[15].SW/SW" LOC = SLICE_X34Y9; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[15].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[16].SW/SW" LOC = SLICE_X34Y10; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[16].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[17].SW/SW" LOC = SLICE_X34Y10; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[17].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[18].SW/SW" LOC = SLICE_X34Y11; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[18].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[19].SW/SW" LOC = SLICE_X34Y11; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[19].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[20].SW/SW" LOC = SLICE_X34Y12; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[20].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[21].SW/SW" LOC = SLICE_X34Y12; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[21].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[22].SW/SW" LOC = SLICE_X34Y13; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[22].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[23].SW/SW" LOC = SLICE_X34Y13; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[23].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[24].SW/SW" LOC = SLICE_X34Y14; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[24].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[25].SW/SW" LOC = SLICE_X34Y14; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[25].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[26].SW/SW" LOC = SLICE_X34Y15; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[26].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[27].SW/SW" LOC = SLICE_X34Y15; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[27].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[28].SW/SW" LOC = SLICE_X34Y16; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[28].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[29].SW/SW" LOC = SLICE_X34Y16; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[29].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[30].SW/SW" LOC = SLICE_X34Y17; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[30].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[31].SW/SW" LOC = SLICE_X34Y17; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[31].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[32].SW/SW" LOC = SLICE_X34Y18; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[32].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[33].SW/SW" LOC = SLICE_X34Y18; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[33].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[34].SW/SW" LOC = SLICE_X34Y19; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[34].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[35].SW/SW" LOC = SLICE_X34Y19; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[35].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[36].SW/SW" LOC = SLICE_X34Y20; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[36].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[37].SW/SW" LOC = SLICE_X34Y20; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[37].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[38].SW/SW" LOC = SLICE_X34Y21; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[38].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[39].SW/SW" LOC = SLICE_X34Y21; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[39].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[40].SW/SW" LOC = SLICE_X34Y22; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[40].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[41].SW/SW" LOC = SLICE_X34Y22; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[41].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[42].SW/SW" LOC = SLICE_X34Y23; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[42].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[43].SW/SW" LOC = SLICE_X34Y23; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[43].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[44].SW/SW" LOC = SLICE_X34Y24; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[44].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[45].SW/SW" LOC = SLICE_X34Y24; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[45].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[46].SW/SW" LOC = SLICE_X34Y25; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[46].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[47].SW/SW" LOC = SLICE_X34Y25; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[47].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[48].SW/SW" LOC = SLICE_X34Y26; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[48].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[49].SW/SW" LOC = SLICE_X34Y26; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[49].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[50].SW/SW" LOC = SLICE_X34Y27; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[50].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[51].SW/SW" LOC = SLICE_X34Y27; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[51].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[52].SW/SW" LOC = SLICE_X34Y28; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[52].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[53].SW/SW" LOC = SLICE_X34Y28; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[53].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[54].SW/SW" LOC = SLICE_X34Y29; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[54].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[55].SW/SW" LOC = SLICE_X34Y29; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[55].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[56].SW/SW" LOC = SLICE_X34Y30; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[56].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[57].SW/SW" LOC = SLICE_X34Y30; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[57].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[58].SW/SW" LOC = SLICE_X34Y31; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[58].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[59].SW/SW" LOC = SLICE_X34Y31; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[59].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[60].SW/SW" LOC = SLICE_X34Y32; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[60].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[61].SW/SW" LOC = SLICE_X34Y32; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[61].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[62].SW/SW" LOC = SLICE_X34Y33; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[62].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[63].SW/SW" LOC = SLICE_X34Y33; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/SWITCH_CHAIN/STAGE[63].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/tigReg" BEL = AFF;
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/tigReg" LOC = SLICE_X34Y1;

INST "iXAPUF/XAPUF_T/PUFList[1].APUF/tigSignal_inv1_INV_0" BEL = B6LUT;
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/tigSignal_inv1_INV_0" LOC = SLICE_X34Y1;

INST "iXAPUF/XAPUF_T/PUFList[1].APUF/ARBITER/X" LOC = SLICE_X34Y34; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/ARBITER/X" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/ARBITER/Y" LOC = SLICE_X34Y34; 
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/ARBITER/Y" BEL = C6LUT; 

INST "iXAPUF/XAPUF_T/PUFList[1].APUF/respReady1" BEL = D6LUT;
INST "iXAPUF/XAPUF_T/PUFList[1].APUF/respReady1" LOC = SLICE_X35Y34;


// APUF 0

INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[0].SW/SW" LOC = SLICE_X38Y2; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[0].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[1].SW/SW" LOC = SLICE_X38Y2; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[1].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[2].SW/SW" LOC = SLICE_X38Y3; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[2].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[3].SW/SW" LOC = SLICE_X38Y3; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[3].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[4].SW/SW" LOC = SLICE_X38Y4; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[4].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[5].SW/SW" LOC = SLICE_X38Y4; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[5].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[6].SW/SW" LOC = SLICE_X38Y5; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[6].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[7].SW/SW" LOC = SLICE_X38Y5; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[7].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[8].SW/SW" LOC = SLICE_X38Y6; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[8].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[9].SW/SW" LOC = SLICE_X38Y6; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[9].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[10].SW/SW" LOC = SLICE_X38Y7; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[10].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[11].SW/SW" LOC = SLICE_X38Y7; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[11].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[12].SW/SW" LOC = SLICE_X38Y8; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[12].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[13].SW/SW" LOC = SLICE_X38Y8; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[13].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[14].SW/SW" LOC = SLICE_X38Y9; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[14].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[15].SW/SW" LOC = SLICE_X38Y9; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[15].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[16].SW/SW" LOC = SLICE_X38Y10; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[16].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[17].SW/SW" LOC = SLICE_X38Y10; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[17].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[18].SW/SW" LOC = SLICE_X38Y11; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[18].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[19].SW/SW" LOC = SLICE_X38Y11; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[19].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[20].SW/SW" LOC = SLICE_X38Y12; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[20].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[21].SW/SW" LOC = SLICE_X38Y12; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[21].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[22].SW/SW" LOC = SLICE_X38Y13; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[22].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[23].SW/SW" LOC = SLICE_X38Y13; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[23].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[24].SW/SW" LOC = SLICE_X38Y14; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[24].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[25].SW/SW" LOC = SLICE_X38Y14; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[25].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[26].SW/SW" LOC = SLICE_X38Y15; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[26].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[27].SW/SW" LOC = SLICE_X38Y15; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[27].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[28].SW/SW" LOC = SLICE_X38Y16; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[28].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[29].SW/SW" LOC = SLICE_X38Y16; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[29].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[30].SW/SW" LOC = SLICE_X38Y17; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[30].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[31].SW/SW" LOC = SLICE_X38Y17; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[31].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[32].SW/SW" LOC = SLICE_X38Y18; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[32].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[33].SW/SW" LOC = SLICE_X38Y18; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[33].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[34].SW/SW" LOC = SLICE_X38Y19; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[34].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[35].SW/SW" LOC = SLICE_X38Y19; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[35].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[36].SW/SW" LOC = SLICE_X38Y20; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[36].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[37].SW/SW" LOC = SLICE_X38Y20; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[37].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[38].SW/SW" LOC = SLICE_X38Y21; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[38].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[39].SW/SW" LOC = SLICE_X38Y21; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[39].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[40].SW/SW" LOC = SLICE_X38Y22; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[40].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[41].SW/SW" LOC = SLICE_X38Y22; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[41].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[42].SW/SW" LOC = SLICE_X38Y23; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[42].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[43].SW/SW" LOC = SLICE_X38Y23; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[43].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[44].SW/SW" LOC = SLICE_X38Y24; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[44].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[45].SW/SW" LOC = SLICE_X38Y24; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[45].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[46].SW/SW" LOC = SLICE_X38Y25; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[46].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[47].SW/SW" LOC = SLICE_X38Y25; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[47].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[48].SW/SW" LOC = SLICE_X38Y26; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[48].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[49].SW/SW" LOC = SLICE_X38Y26; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[49].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[50].SW/SW" LOC = SLICE_X38Y27; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[50].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[51].SW/SW" LOC = SLICE_X38Y27; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[51].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[52].SW/SW" LOC = SLICE_X38Y28; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[52].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[53].SW/SW" LOC = SLICE_X38Y28; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[53].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[54].SW/SW" LOC = SLICE_X38Y29; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[54].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[55].SW/SW" LOC = SLICE_X38Y29; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[55].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[56].SW/SW" LOC = SLICE_X38Y30; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[56].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[57].SW/SW" LOC = SLICE_X38Y30; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[57].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[58].SW/SW" LOC = SLICE_X38Y31; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[58].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[59].SW/SW" LOC = SLICE_X38Y31; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[59].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[60].SW/SW" LOC = SLICE_X38Y32; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[60].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[61].SW/SW" LOC = SLICE_X38Y32; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[61].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[62].SW/SW" LOC = SLICE_X38Y33; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[62].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[63].SW/SW" LOC = SLICE_X38Y33; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[63].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[64].SW/SW" LOC = SLICE_X38Y34; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[64].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/tigReg" BEL = AFF;
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/tigReg" LOC = SLICE_X38Y1;

INST "iXAPUF/XAPUF_B/PUFList[0].APUF/tigSignal_inv1_INV_0" BEL = B6LUT;
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/tigSignal_inv1_INV_0" LOC = SLICE_X38Y1;

INST "iXAPUF/XAPUF_B/PUFList[0].APUF/ARBITER/X" LOC = SLICE_X38Y35; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/ARBITER/X" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/ARBITER/Y" LOC = SLICE_X38Y35; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/ARBITER/Y" BEL = B6LUT; 

INST "iXAPUF/XAPUF_B/PUFList[0].APUF/respReady1" BEL = D6LUT;
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/respReady1" LOC = SLICE_X39Y35;


// APUF 1

INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[0].SW/SW" LOC = SLICE_X42Y2; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[0].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[1].SW/SW" LOC = SLICE_X42Y2; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[1].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[2].SW/SW" LOC = SLICE_X42Y3; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[2].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[3].SW/SW" LOC = SLICE_X42Y3; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[3].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[4].SW/SW" LOC = SLICE_X42Y4; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[4].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[5].SW/SW" LOC = SLICE_X42Y4; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[5].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[6].SW/SW" LOC = SLICE_X42Y5; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[6].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[7].SW/SW" LOC = SLICE_X42Y5; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[7].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[8].SW/SW" LOC = SLICE_X42Y6; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[8].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[9].SW/SW" LOC = SLICE_X42Y6; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[9].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[10].SW/SW" LOC = SLICE_X42Y7; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[10].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[11].SW/SW" LOC = SLICE_X42Y7; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[11].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[12].SW/SW" LOC = SLICE_X42Y8; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[12].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[13].SW/SW" LOC = SLICE_X42Y8; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[13].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[14].SW/SW" LOC = SLICE_X42Y9; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[14].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[15].SW/SW" LOC = SLICE_X42Y9; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[15].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[16].SW/SW" LOC = SLICE_X42Y10; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[16].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[17].SW/SW" LOC = SLICE_X42Y10; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[17].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[18].SW/SW" LOC = SLICE_X42Y11; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[18].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[19].SW/SW" LOC = SLICE_X42Y11; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[19].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[20].SW/SW" LOC = SLICE_X42Y12; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[20].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[21].SW/SW" LOC = SLICE_X42Y12; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[21].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[22].SW/SW" LOC = SLICE_X42Y13; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[22].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[23].SW/SW" LOC = SLICE_X42Y13; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[23].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[24].SW/SW" LOC = SLICE_X42Y14; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[24].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[25].SW/SW" LOC = SLICE_X42Y14; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[25].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[26].SW/SW" LOC = SLICE_X42Y15; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[26].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[27].SW/SW" LOC = SLICE_X42Y15; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[27].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[28].SW/SW" LOC = SLICE_X42Y16; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[28].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[29].SW/SW" LOC = SLICE_X42Y16; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[29].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[30].SW/SW" LOC = SLICE_X42Y17; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[30].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[31].SW/SW" LOC = SLICE_X42Y17; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[31].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[32].SW/SW" LOC = SLICE_X42Y18; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[32].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[33].SW/SW" LOC = SLICE_X42Y18; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[33].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[34].SW/SW" LOC = SLICE_X42Y19; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[34].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[35].SW/SW" LOC = SLICE_X42Y19; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[35].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[36].SW/SW" LOC = SLICE_X42Y20; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[36].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[37].SW/SW" LOC = SLICE_X42Y20; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[37].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[38].SW/SW" LOC = SLICE_X42Y21; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[38].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[39].SW/SW" LOC = SLICE_X42Y21; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[39].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[40].SW/SW" LOC = SLICE_X42Y22; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[40].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[41].SW/SW" LOC = SLICE_X42Y22; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[41].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[42].SW/SW" LOC = SLICE_X42Y23; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[42].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[43].SW/SW" LOC = SLICE_X42Y23; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[43].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[44].SW/SW" LOC = SLICE_X42Y24; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[44].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[45].SW/SW" LOC = SLICE_X42Y24; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[45].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[46].SW/SW" LOC = SLICE_X42Y25; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[46].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[47].SW/SW" LOC = SLICE_X42Y25; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[47].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[48].SW/SW" LOC = SLICE_X42Y26; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[48].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[49].SW/SW" LOC = SLICE_X42Y26; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[49].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[50].SW/SW" LOC = SLICE_X42Y27; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[50].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[51].SW/SW" LOC = SLICE_X42Y27; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[51].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[52].SW/SW" LOC = SLICE_X42Y28; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[52].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[53].SW/SW" LOC = SLICE_X42Y28; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[53].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[54].SW/SW" LOC = SLICE_X42Y29; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[54].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[55].SW/SW" LOC = SLICE_X42Y29; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[55].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[56].SW/SW" LOC = SLICE_X42Y30; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[56].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[57].SW/SW" LOC = SLICE_X42Y30; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[57].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[58].SW/SW" LOC = SLICE_X42Y31; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[58].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[59].SW/SW" LOC = SLICE_X42Y31; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[59].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[60].SW/SW" LOC = SLICE_X42Y32; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[60].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[61].SW/SW" LOC = SLICE_X42Y32; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[61].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[62].SW/SW" LOC = SLICE_X42Y33; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[62].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[63].SW/SW" LOC = SLICE_X42Y33; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[63].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[64].SW/SW" LOC = SLICE_X42Y34; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/SWITCH_CHAIN/STAGE[64].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/tigReg" BEL = AFF;
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/tigReg" LOC = SLICE_X42Y1;

INST "iXAPUF/XAPUF_B/PUFList[1].APUF/tigSignal_inv1_INV_0" BEL = B6LUT;
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/tigSignal_inv1_INV_0" LOC = SLICE_X42Y1;

INST "iXAPUF/XAPUF_B/PUFList[1].APUF/ARBITER/X" LOC = SLICE_X42Y35; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/ARBITER/X" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/ARBITER/Y" LOC = SLICE_X42Y35; 
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/ARBITER/Y" BEL = B6LUT; 

INST "iXAPUF/XAPUF_B/PUFList[1].APUF/respReady1" BEL = D6LUT;
INST "iXAPUF/XAPUF_B/PUFList[1].APUF/respReady1" LOC = SLICE_X43Y35;

