
#################################################
#Spartan-3A DSP 1800A
#################################################

#NET "tx" LOC = P22;
#NET "rx" LOC = N21;
#NET "clk" LOC = F13;

#################################################
#Spartan-3 1000k Digilent
#################################################



#################################################
#Spartan-3 VTU/MTE board
#################################################

#NET "tx" LOC = P109;
#NET "rx" LOC = P111;
#NET "clk" LOC = P76;

################################################
# Nexys-4 Board
################################################

NET "clk"   LOC = "E3"	| IOSTANDARD = "LVCMOS33";
NET "rx"		LOC = "C4"	| IOSTANDARD = "LVCMOS33";		
NET "tx"		LOC = "D4"	| IOSTANDARD = "LVCMOS33";		


