
// APUF 0

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[0].SW/SW" LOC = SLICE_X10Y2; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[0].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[1].SW/SW" LOC = SLICE_X10Y2; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[1].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[2].SW/SW" LOC = SLICE_X10Y2; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[2].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[3].SW/SW" LOC = SLICE_X10Y2; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[3].SW/SW" BEL = D6LUT; 

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[4].SW/SW" LOC = SLICE_X10Y3; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[4].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[5].SW/SW" LOC = SLICE_X10Y3; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[5].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[6].SW/SW" LOC = SLICE_X10Y3; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[6].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[7].SW/SW" LOC = SLICE_X10Y3; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[7].SW/SW" BEL = D6LUT; 

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[8].SW/SW" LOC = SLICE_X10Y4; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[8].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[9].SW/SW" LOC = SLICE_X10Y4; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[9].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[10].SW/SW" LOC = SLICE_X10Y4; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[10].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[11].SW/SW" LOC = SLICE_X10Y4; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[11].SW/SW" BEL = D6LUT; 

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[12].SW/SW" LOC = SLICE_X10Y5; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[12].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[13].SW/SW" LOC = SLICE_X10Y5; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[13].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[14].SW/SW" LOC = SLICE_X10Y5; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[14].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[15].SW/SW" LOC = SLICE_X10Y5; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[15].SW/SW" BEL = D6LUT; 

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[16].SW/SW" LOC = SLICE_X10Y6; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[16].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[17].SW/SW" LOC = SLICE_X10Y6; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[17].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[18].SW/SW" LOC = SLICE_X10Y6; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[18].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[19].SW/SW" LOC = SLICE_X10Y6; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[19].SW/SW" BEL = D6LUT; 

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[20].SW/SW" LOC = SLICE_X10Y7; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[20].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[21].SW/SW" LOC = SLICE_X10Y7; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[21].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[22].SW/SW" LOC = SLICE_X10Y7; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[22].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[23].SW/SW" LOC = SLICE_X10Y7; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[23].SW/SW" BEL = D6LUT; 

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[24].SW/SW" LOC = SLICE_X10Y8; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[24].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[25].SW/SW" LOC = SLICE_X10Y8; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[25].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[26].SW/SW" LOC = SLICE_X10Y8; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[26].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[27].SW/SW" LOC = SLICE_X10Y8; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[27].SW/SW" BEL = D6LUT; 

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[28].SW/SW" LOC = SLICE_X10Y9; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[28].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[29].SW/SW" LOC = SLICE_X10Y9; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[29].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[30].SW/SW" LOC = SLICE_X10Y9; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[30].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[31].SW/SW" LOC = SLICE_X10Y9; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[31].SW/SW" BEL = D6LUT; 

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[32].SW/SW" LOC = SLICE_X10Y10; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[32].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[33].SW/SW" LOC = SLICE_X10Y10; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[33].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[34].SW/SW" LOC = SLICE_X10Y10; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[34].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[35].SW/SW" LOC = SLICE_X10Y10; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[35].SW/SW" BEL = D6LUT; 

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[36].SW/SW" LOC = SLICE_X10Y11; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[36].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[37].SW/SW" LOC = SLICE_X10Y11; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[37].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[38].SW/SW" LOC = SLICE_X10Y11; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[38].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[39].SW/SW" LOC = SLICE_X10Y11; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[39].SW/SW" BEL = D6LUT; 

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[40].SW/SW" LOC = SLICE_X10Y12; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[40].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[41].SW/SW" LOC = SLICE_X10Y12; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[41].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[42].SW/SW" LOC = SLICE_X10Y12; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[42].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[43].SW/SW" LOC = SLICE_X10Y12; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[43].SW/SW" BEL = D6LUT; 

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[44].SW/SW" LOC = SLICE_X10Y13; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[44].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[45].SW/SW" LOC = SLICE_X10Y13; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[45].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[46].SW/SW" LOC = SLICE_X10Y13; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[46].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[47].SW/SW" LOC = SLICE_X10Y13; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[47].SW/SW" BEL = D6LUT; 

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[48].SW/SW" LOC = SLICE_X10Y14; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[48].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[49].SW/SW" LOC = SLICE_X10Y14; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[49].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[50].SW/SW" LOC = SLICE_X10Y14; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[50].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[51].SW/SW" LOC = SLICE_X10Y14; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[51].SW/SW" BEL = D6LUT; 

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[52].SW/SW" LOC = SLICE_X10Y15; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[52].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[53].SW/SW" LOC = SLICE_X10Y15; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[53].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[54].SW/SW" LOC = SLICE_X10Y15; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[54].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[55].SW/SW" LOC = SLICE_X10Y15; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[55].SW/SW" BEL = D6LUT; 

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[56].SW/SW" LOC = SLICE_X10Y16; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[56].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[57].SW/SW" LOC = SLICE_X10Y16; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[57].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[58].SW/SW" LOC = SLICE_X10Y16; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[58].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[59].SW/SW" LOC = SLICE_X10Y16; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[59].SW/SW" BEL = D6LUT; 

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[60].SW/SW" LOC = SLICE_X10Y17; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[60].SW/SW" BEL = A6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[61].SW/SW" LOC = SLICE_X10Y17; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[61].SW/SW" BEL = B6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[62].SW/SW" LOC = SLICE_X10Y17; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[62].SW/SW" BEL = C6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[63].SW/SW" LOC = SLICE_X10Y17; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/SWITCH_CHAIN/STAGE[63].SW/SW" BEL = D6LUT; 

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/tigReg" BEL = AFF;
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/tigReg" LOC = SLICE_X10Y1;

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/tigSignal_inv1_INV_0" BEL = B6LUT;
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/tigSignal_inv1_INV_0" LOC = SLICE_X10Y1;

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/ARBITER/X" LOC = SLICE_X10Y18; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/ARBITER/X" BEL = A6LUT; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/ARBITER/Y" LOC = SLICE_X10Y18; 
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/ARBITER/Y" BEL = B6LUT; 

INST "iXAPUF/XAPUF_T/PUFList[0].APUF/respReady1" BEL = D6LUT;
INST "iXAPUF/XAPUF_T/PUFList[0].APUF/respReady1" LOC = SLICE_X11Y18;


// APUF 0

INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[0].SW/SW" LOC = SLICE_X44Y2; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[0].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[1].SW/SW" LOC = SLICE_X44Y3; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[1].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[2].SW/SW" LOC = SLICE_X44Y4; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[2].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[3].SW/SW" LOC = SLICE_X44Y5; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[3].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[4].SW/SW" LOC = SLICE_X44Y6; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[4].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[5].SW/SW" LOC = SLICE_X44Y7; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[5].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[6].SW/SW" LOC = SLICE_X44Y8; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[6].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[7].SW/SW" LOC = SLICE_X44Y9; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[7].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[8].SW/SW" LOC = SLICE_X44Y10; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[8].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[9].SW/SW" LOC = SLICE_X44Y11; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[9].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[10].SW/SW" LOC = SLICE_X44Y12; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[10].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[11].SW/SW" LOC = SLICE_X44Y13; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[11].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[12].SW/SW" LOC = SLICE_X44Y14; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[12].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[13].SW/SW" LOC = SLICE_X44Y15; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[13].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[14].SW/SW" LOC = SLICE_X44Y16; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[14].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[15].SW/SW" LOC = SLICE_X44Y17; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[15].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[16].SW/SW" LOC = SLICE_X44Y18; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[16].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[17].SW/SW" LOC = SLICE_X44Y19; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[17].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[18].SW/SW" LOC = SLICE_X44Y20; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[18].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[19].SW/SW" LOC = SLICE_X44Y21; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[19].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[20].SW/SW" LOC = SLICE_X44Y22; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[20].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[21].SW/SW" LOC = SLICE_X44Y23; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[21].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[22].SW/SW" LOC = SLICE_X44Y24; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[22].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[23].SW/SW" LOC = SLICE_X44Y25; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[23].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[24].SW/SW" LOC = SLICE_X44Y26; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[24].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[25].SW/SW" LOC = SLICE_X44Y27; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[25].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[26].SW/SW" LOC = SLICE_X44Y28; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[26].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[27].SW/SW" LOC = SLICE_X44Y29; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[27].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[28].SW/SW" LOC = SLICE_X44Y30; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[28].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[29].SW/SW" LOC = SLICE_X44Y31; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[29].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[30].SW/SW" LOC = SLICE_X44Y32; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[30].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[31].SW/SW" LOC = SLICE_X44Y33; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[31].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[32].SW/SW" LOC = SLICE_X44Y34; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[32].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[33].SW/SW" LOC = SLICE_X44Y35; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[33].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[34].SW/SW" LOC = SLICE_X44Y36; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[34].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[35].SW/SW" LOC = SLICE_X44Y37; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[35].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[36].SW/SW" LOC = SLICE_X44Y38; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[36].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[37].SW/SW" LOC = SLICE_X44Y39; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[37].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[38].SW/SW" LOC = SLICE_X44Y40; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[38].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[39].SW/SW" LOC = SLICE_X44Y41; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[39].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[40].SW/SW" LOC = SLICE_X44Y42; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[40].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[41].SW/SW" LOC = SLICE_X44Y43; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[41].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[42].SW/SW" LOC = SLICE_X44Y44; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[42].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[43].SW/SW" LOC = SLICE_X44Y45; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[43].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[44].SW/SW" LOC = SLICE_X44Y46; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[44].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[45].SW/SW" LOC = SLICE_X44Y47; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[45].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[46].SW/SW" LOC = SLICE_X44Y48; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[46].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[47].SW/SW" LOC = SLICE_X44Y49; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[47].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[48].SW/SW" LOC = SLICE_X44Y50; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[48].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[49].SW/SW" LOC = SLICE_X44Y51; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[49].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[50].SW/SW" LOC = SLICE_X44Y52; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[50].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[51].SW/SW" LOC = SLICE_X44Y53; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[51].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[52].SW/SW" LOC = SLICE_X44Y54; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[52].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[53].SW/SW" LOC = SLICE_X44Y55; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[53].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[54].SW/SW" LOC = SLICE_X44Y56; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[54].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[55].SW/SW" LOC = SLICE_X44Y57; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[55].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[56].SW/SW" LOC = SLICE_X44Y58; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[56].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[57].SW/SW" LOC = SLICE_X44Y59; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[57].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[58].SW/SW" LOC = SLICE_X44Y60; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[58].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[59].SW/SW" LOC = SLICE_X44Y61; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[59].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[60].SW/SW" LOC = SLICE_X44Y62; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[60].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[61].SW/SW" LOC = SLICE_X44Y63; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[61].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[62].SW/SW" LOC = SLICE_X44Y64; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[62].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[63].SW/SW" LOC = SLICE_X44Y65; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[63].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[64].SW/SW" LOC = SLICE_X44Y66; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/SWITCH_CHAIN/STAGE[64].SW/SW" BEL = D6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/tigReg" BEL = AFF;
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/tigReg" LOC = SLICE_X44Y1;

INST "iXAPUF/XAPUF_B/PUFList[0].APUF/tigSignal_inv1_INV_0" BEL = B6LUT;
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/tigSignal_inv1_INV_0" LOC = SLICE_X44Y1;

INST "iXAPUF/XAPUF_B/PUFList[0].APUF/ARBITER/X" LOC = SLICE_X44Y67; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/ARBITER/X" BEL = A6LUT; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/ARBITER/Y" LOC = SLICE_X44Y67; 
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/ARBITER/Y" BEL = B6LUT; 

INST "iXAPUF/XAPUF_B/PUFList[0].APUF/respReady1" BEL = D6LUT;
INST "iXAPUF/XAPUF_B/PUFList[0].APUF/respReady1" LOC = SLICE_X45Y67;

